<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!-- update the connection string-->
  <connectionStrings>
    <add name="FeeAutomation" connectionString="server=sql-prod-shared.database.windows.net;database=db-prod-feeautomation;UID=AnyString;Authentication=Active Directory Interactive" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <!-- update all the appSettings -->
  <appSettings>
    <add key="Environment" value="PROD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="KeyVaultName" value="kv-prod-shared" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="sql-deploy-username" value="sql-deploy-username" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="NexusQueueMessageBaseUri" value="https://nexus.hot.co.nz/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="NexusQueueMessageToken" value="x1n9rkezoq50y8dj8lw7d3mjpgx464" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FeeAutomationConfigBaseUri" value="https://nexus.hot.co.nz/feeAutomation/config/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FeeAutomationConfigToken" value="x1n9rkezoq50y8dj8lw7d3mjpgx464"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <!-- update the log4net appender -->
  <log4net>
    <appender name="NexusLoggingAppender" xdt:Locator="Match(name)">
      <NexusLoggingUrl value="https://nexus.hot.co.nz/log/nemo" xdt:Transform="SetAttributes"/>
      <NexusToken value="x1n9rkezoq50y8dj8lw7d3mjpgx464" xdt:Transform="SetAttributes"/>
    </appender>
  </log4net>
  <!-- remove debug -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>